h1 {
  background-image: linear-gradient(to right, blue, #000058);
  padding: 5px 0px 5px 0px;
  text-align: center;
  text-indent: 7em;
  color: white;
  font-weight: bold;
  font-size: 4vw;
}

.mb-3 {
  margin-bottom: 10px;
}

#submit-size {
  font-size: 2.2vw;
  font-weight: bold;
}

#button {
  margin: 10px 0px 10px 0px;
}

.btn {
  background-color: DodgerBlue;
}

#today {
  border-style: solid;
}

h4 {
  font-weight: bold;
  margin-top: 5px;
}

.col {
  background-color: #050a30;
  margin: 10px;
  color: white;
  padding-bottom: 22px;
}

#icon {
  margin-top: 0px;
  width: 50px;
  height: 50px;
}

#main {
  margin: 5px;
}

#righto {
  width: 65%;
}
